body {
  font-family: Arial, sans-serif;
  background-color: #d3ebeb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.login-text {
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.titulo {
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}

.subtitulo {
  display: inline-block;
  border: 2px solid black;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
}

.login-container {
  background: rgb(254, 197, 239);
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}

.login-container button {
  background-color: aqua;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.admin-title {
  margin: auto;
}

